.header-bg {
  background-image: url('/src/assets/images/hero-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
  .container {
    margin-bottom: 141px;
    .header-content {
      gap: 15px;
      margin-bottom: 41px;
    }
    .header-links {
      gap: 49px;
    }
  }
}

.contact-bg {
  position: relative;
  top: -60px;
  margin-bottom: 100px;
  .container {
    @include box-shadow(0px 4px 30px rgba(0, 0, 0, 0.05));
    .row {
      hr {
        width: 80px;
        height: 5px;
        background: $warning;
        border: 1px solid $warning;
      }
    }
  }
}

.about-bg {
  margin-bottom: 100px;
  .about-content {
    @include device(l) {
      padding-right: 50px;
    }
    @media screen and (min-width: $xl-device) {
      padding-right: 170px;
    }
  }
}

.services-bg {
  margin-bottom: 151px;
  .container {
    padding: 0 100px;
    gap: 74px;
    @media screen and (max-width: ($l-device - 1)) {
      padding: 0 30px;
    }
    header {
      @include device(l) {
      }
      @media screen and (min-width: $xxl-device) {
        gap: 34px;
        margin: 0 110px;
        padding: 0 130px;
      }
    }
    .services-cost {
      gap: 45px;
      padding: 90px;
      @include box-shadow(0px 4px 30px rgba(0, 0, 0, 0.1));
      @include device(l) {
        padding: 65px 50px;
      }
      @include device(md) {
        padding: 45px 30px;
      }
    }
  }
}

.experience-bg {
  background-image: url('/src/assets/images/experience-luxury.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 569px;
  .container {
    gap: 46px;
  }
}
