.header-bg {
  background-image: url('/src/assets/images/hero-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 781px;
  .container {
    margin-bottom: 141px;
    .header-content {
      gap: 15px;
      margin-bottom: 41px;
    }
    .header-links {
      gap: 49px;
    }
  }
}

.contact-bg {
  position: relative;
  top: -60px;
  margin-bottom: 100px;
  .container {
    @include box-shadow(0px 4px 30px rgba(0, 0, 0, 0.05));
    .row {
      hr {
        width: 80px;
        height: 5px;
        background: $warning;
        border: 1px solid $warning;
      }
    }
  }
}

.about-bg {
  margin-bottom: 100px;
  .about-content {
    .about-number,
    .about-number span {
      @media screen and (max-width: ($l-device - 1)) {
        font-size: 60px !important;
      }
    }
    @include device(l) {
      padding-right: 50px;
    }
    @media screen and (min-width: $xl-device) {
      padding-right: 170px;
    }
  }
}

.services-bg {
  margin-bottom: 151px;
  .container {
    padding: 0 100px;
    gap: 74px;
    @media screen and (max-width: ($l-device - 1)) {
      padding: 0 30px;
    }
    header {
      gap: 34px;
      @media screen and (min-width: $xxl-device) {
        margin: 0 110px;
        padding: 0 130px;
      }
    }
    .services-cost {
      gap: 45px;
      padding: 90px;
      @include box-shadow(0px 4px 30px rgba(0, 0, 0, 0.1));
      @include device(l) {
        padding: 65px 50px;
      }
      @include device(md) {
        padding: 45px 30px;
      }
      @media screen and (max-width: ($md-device - 1)) {
        padding: 45px 25px;
      }
    }
  }
}

.experience-bg {
  background-image: url('/src/assets/images/experience-luxury.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 569px;
  .container {
    gap: 46px;
  }
}

.choose-bg {
  padding: 136px 67px;
  @media screen and (max-width: ($md-device - 1)) {
    padding: 136px 10px;
  }
  .container {
    .choose-header {
      gap: 40px;
      margin: 0 160px 70px 160px;
      padding: 0 120px;
      @media screen and (max-width: ($xl-device - 1)) {
        margin: 0 20px 70px 20px;
        padding: 20px;
      }
      @media screen and (max-width: ($md-device - 1)) {
        margin: 0 10px 70px 10px;
        padding: 0;
      }
    }
    .choose-content {
      margin-bottom: 170px;
      @media screen and (max-width: ($md-device - 1)) {
        margin-bottom: 100px;
      }
    }
    .choose-avaliation {
      gap: 15px;
      > div:nth-of-type(2) {
        .choose-testimonial {
          padding: 70px 40px 70px 40px;
          @media screen and (max-width: ($md-device - 1)) {
            padding: 70px 0;
          }
        }
      }
      .stars {
        display: inline-block;
        width: calc(5 * 27px);
        height: 27px;
        background-image: url('/src/assets/images/icons/star.svg');
        background-size: 27px;
        background-repeat: repeat-x;
      }
    }
  }
}

.appointment-bg {
  background-image: url('/src/assets/images/make-appointment.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 641px;
  @media screen and (max-width: ($l-device - 1)) {
    height: 100%;
  }
  .container {
    height: 641px;
    @media screen and (max-width: ($l-device - 1)) {
      height: 100%;
    }
    .row {
      bottom: -135px;
      .appointment-content {
        gap: 30px;
        padding-bottom: 80px;
      }

      form {
        @media screen and (max-width: ($l-device - 1)) {
          bottom: -100px;
        }
      }

      button[type='submit'] {
        background: #f8f5ef;
      }
    }
  }
}

.location-bg {
  background-image: url('/src/assets/images/location.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 451px;
}
