$font-primary: 'Barlow', sans-serif;
$font-secondary: 'Work Sans', serif;

$font-weight-semibold: bold;
$font-weight-bold: 800; //extrabold
$font-weight-bolder: 900; //black

$warning: #f2c94c;
$warning-bg-subtle: #dec7a6;
